extends Main

block append content
  if consentFailed
    div
      span.banner.consent-rejected-img
    div
      div.h3
        strong Adgang ikke godkendt
      div#content.buffer-1-1
        strong.italic #{serviceName}
        strong  har ikke fået adgang til de ønskede oplysninger
      div.buffer-1-1
        strong Derfor er du ikke blevet logget ind
    div &nbsp;
    if returnUrl
      div.buffer-vertical-5
        a.link-style#returnUrl(href=returnUrl) Tilbage til #{serviceName}
  else
    div
      span.banner.consent-img
    div
      div.h3
        strong Godkendelse
      div#content.buffer-1-1
        strong.italic #{serviceName}
        strong  beder om adgang til disse oplysninger
      ul.attributeList
        each attribute in attributes
          li.attribute#attribute(data-toggle="collapse" href="#toggle-" + attribute.key aria-expanded="false") #{attribute.name}
            a.right-text
              span.glyphicon.glyphicon-info-sign(aria-hidden="true")
          div.collapse.italic.indent(id="toggle-" + attribute.key) #{attribute.description}
        li.attribute

      div.buffer-vertical-10#consent-actions
        form(action=consentAction method='post')
          a.buffer-right-20.link-style#consent-action-reject(href=consentAction)
            strong Godkend ikke
          button.btn.btn-success#consent-action-accept(type='submit' name='userconsent' value='1')
            strong GODKEND

  div &nbsp;
