extends Main

block append content
  if consentFailed
    div
      span.consent-rejected-img
    div
      div.h3
        strong Adgang ikke godkendt
      div.buffer-1-1
        strong.italic #{serviceName}
        strong(id='content')  har ikke fået adgang til de ønskede oplysninger
      div.buffer-1-1
        strong Derfor er du ikke blevet logget ind
    div &nbsp;
    if returnUrl
      div.buffer-vertical-5
        a(class="link-style" id='returnUrl' href=returnUrl) Tilbage til #{serviceName}
  else
    div
      span.consent-img
    div
      div.h3
        strong Godkendelse
      div.buffer-1-1
        strong.italic #{serviceName}
        strong(id='content')  beder om adgang til disse oplysninger
      ul.attributeList
        each attribute in attributes
          li.attribute(data-toggle="collapse" id='attribute' href="#toggle-" + attribute.key aria-expanded="false") #{attribute.name}
            a.right-text
              span(class="glyphicon glyphicon-info-sign" aria-hidden="true")
          div.collapse(class="italic indent" id="toggle-" + attribute.key) #{attribute.description}
        li.attribute

      div(id='consent-actions').buffer-vertical-10
        form(action=consentAction method='post')
          a(href=consentAction id='consent-action-reject' class='buffer-right-20 link-style')
            strong Godkend ikke
          button(type='submit' name='userconsent' value='1' class='btn btn-success' id='consent-action-accept')
            strong GODKEND

  div &nbsp;
