div#borchk
  form(action=identityProviders.borchk.action autocomplete='off' method='post' id='borchk-login-form')

    if lockedAgency
      input(type="hidden" value=lockedAgency name="libraryId" id="libraryid-input" aria-hidden='true' )
      input(type='hidden' id='libraryname-input' name='libraryName' value=lockedAgencyName)
    else

      div.form-group
        input(type="hidden" name="agency" id="libraryid-input" aria-hidden='true' value=preselectedId)

        label(for='libraryname-input') Vælg dit lokale bibliotek
        div#library-wrap.input-container
          input(class="prevent-body-close-event" type='text' id='libraryname-input' name='libraryName' placeholder='Vælg bibliotek' required='true' tabindex='1' value=preselectedName)
          button(class='prevent-body-close-event caret' type='button' class=preselectedName ? 'hide' : '' id='libraries-dropdown-toggle-btn' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' onclick='dropdownTrigger("open")' aria-hidden='false')
          button(class='prevent-body-close-event close' type='button' class=preselectedName ? '' : 'hide' id='clear-libraries-input-btn' onclick='clearLibraryInput();' aria-hidden='true')

          if branches
            div(id='libraries-dropdown-container' aria-hidden='true')
              ul(id='libraries-dropdown')
                li(class='hide subject' id='latest') Forslag
                li(class='hide subject' id='alphabetical') Alfabetisk
                each branch in branches
                  if branch.name
                    li(class="agency" data-aid=branch.branchId data-name=branch.name onclick='librarySelect(this);') #{branch.name}
                      // a(data-aid=branch.branchId data-name=branch.name onclick='librarySelect(this);') #{branch.name}

        span(id='libraryname-input-text' data-text='Lorem ipsum dolor sit amet') Lorem ipsum dolor sit amet

    div.form-group
      label(for='userid-input') Cpr- eller lånernummer
      div.input-container
        input(type="text" value="" class="form-control" id="autocomplete-username" name="autocomplete-username" aria-hidden='true' aria-disabled='false' style="position:absolute; top: -1000px" autocomplete="username")
        input(type='password' class='form-control' id='userid-input' name='userId' required='true' autocomplete='password' tabindex='2')
        button(type='button' id='toggle-userid-input' onclick='toggleFieldVisibility("userid-input");')
      span(id='userid-input-text' data-text='Lånernummer dopalnitelna informacia la la lorem ipsum') Lånernummer dopalnitelna informacia la la lorem ipsum


    div.form-group
      label(for='pin-input') Indtast din kode
      div.input-container
        input(type='password' class='form-control' id='pin-input' name='pincode' pattern='[0-9]*' required='true' autocomplete='new-pincode' tabindex='3')
        button(type='button' id='toggle-pin-input' onclick='toggleFieldVisibility("pin-input");')
      span(id='pin-input-text' data-text='Indtast din 4- eller 5-cifrede bibliotekskode') Indtast din 4- eller 5-cifrede bibliotekskode

    if error
      div#error-container
        include Error

    div.action-container
        button(type='button' id='borchk-submit' onclick='loginSubmit()' tabindex='4') Log ind
        div.other-actions
          a(href='') Ny Bruger?
          a(href='') Læs om vores behandling af dine personoplysninger
