div#borchk
  form(action=identityProviders.borchk.action method='post')
    div.form-group
      if lockedAgency
        label(for='libraryid-input') Bibliotek
        input(type="hidden" value=lockedAgency name="libraryId" id="libraryid-input" aria-hidden='true' )
        input(type="text" disabled value=lockedAgencyName class="form-control" id="libraryid-input-disabled" name="libraryName" aria-hidden='false' aria-disabled='true')
      else
        label(for='libraryid-input') Bibliotek
        div.input-group
          input(type='text' class='form-control' id='libraryname-input' name='libraryName' placeholder='Vælg bibliotek' autocomplete='off' required='true' value=preselctedName)
          input(type="hidden" name="libraryId" id="libraryid-input-hidden" aria-hidden='true' value=preselectedId )
          div.input-group-btn
            button.btn.inline-btn-default.dropdown-toggle(type='button' class=preselctedName ? 'hide' : '' id='libraries-dropdown-toggle-btn' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' onclick='toggleDropdown()' aria-hidden='false')
              span(class='glyphicon glyphicon-triangle-bottom')
            button.btn.inline-btn-default(type='button' class=preselctedName ? '' : 'hide' id='clear-libraries-input-btn' onclick='clearLibraryInput();' aria-hidden='true')
              span(class='glyphicon glyphicon-remove')
        if branches
          div(class='dropdown' id='libraries-dropdown-container' aria-hidden='true')
            ul(class='dropdown-menu libraries-dropdown' id='libraries-dropdown')
              li(class='dropdown-header hide' id='latest') Forslag
              li(class='dropdown-header hide' id='alphabetical') Alfabetisk
              each branch in branches
                li
                  a(class='agency' data-aid=branch.branchId data-name=branch.name onclick='OnClick(this);') #{branch.name}
                    span.hide #{branch.branchId}

    div.form-group
      label(for='userid-input') CPR eller lånerkortnummer
      div.input-group
        input(type='tel' class='form-control' id='userid-input' name='userId' pattern='[0-9]*' required='true')
        div.input-group-btn
          button(type='button' class='btn inline-btn-default' id='toggle-userid-input' onclick='toggleUserIdVisibility("userid-input", "userid-input-glyp");')
            span(class='glyphicon glyphicon-eye-close' id='userid-input-glyp')

    div.form-group
      label(for='pin-input') Pinkode
      div.input-group
        input(type='password' class='form-control' id='pin-input' name='pincode' pattern='[0-9]*' required='true')
        div.input-group-btn
          button(type='button' class='btn inline-btn-default' id='toggle-pin-input' onclick='toggleUserIdVisibility("pin-input", "pin-input-glyp");')
            span(class='glyphicon glyphicon-eye-open' id='pin-input-glyp')

    div.pull-right
      a(href=identityProviders.borchk.abortAction class='buffer-right-20 link-style' id="cancel-login") Fortryd log ind
      button(type='submit' class='btn btn-success' id='borchk-submit') Log ind
