div#borchk
  form(action=identityProviders.borchk.action autocomplete='off' method='post' id='borchk-login-form' onsubmit='loginSubmit(event)')

    if lockedAgency
      div.input-container
        input(type="hidden" value=lockedAgency name="agency" id="libraryid-input" aria-hidden='true' )
        input(type='hidden' id='libraryname-input' name='libraryName' value=lockedAgencyName data-js-id="libraryname-input")
    else

      div(id="borchk-dropdown" class="library-group form-group input-container" data-library-types=agencyTypeFilter)
        - var rand = Math.random(); // Add random number to id to prevent chrome autocomplete
        label(for='libraryname-input-'+rand) Vælg dit lokale bibliotek
        div.input-container
          span(class='close-libraries-on-mobile' data-mobile-close)
          span(class='clear-libraries-on-mobile' data-mobile-clear) Ryd
          input(type='text' id='libraryname-input-'+rand data-cy='libraryname-input' tabindex='1' name='libraryName-'+rand autocomplete='off' data-js-id="libraryname-input" data-input-name value=preselectedName)
          input(type="hidden" name="agency" id="libraryid-input" aria-hidden='true' tabindex="-1" value=preselectedId data-input-id)
          button(class='caret' type='button' class=preselectedName ? 'hide' : ''  data-toggle aria-hidden='false' data-cy="caret-libraries-btn" tabindex="-1")
          button(class='close' type='button' class=preselectedName ? '' : 'hide'  data-clear aria-hidden='true' data-cy="clear-libraries-btn" tabindex="-1")
          div(id="libraries-dropdown-container" class='libraries-dropdown-container' aria-hidden='true' data-dropdown-container data-cy="dropdown-container")
        span(id='libraryname-input-text' data-cy='libraryname-input-text' data-text='')

    div.form-group
      label(for='userid-input') Cpr- eller lånernummer
      div.input-container
        input(type="text" value="" class="form-control" id="autocomplete-username" name="autocomplete-username" aria-hidden='true' tabindex="-1" aria-disabled='false' style="position:absolute; top: -1000px" autocomplete="username")
        input(type='text' class='form-control ' id='userid-input' data-cy='userid-input' name='userId' autocomplete='off' tabindex='2')
      span(id='userid-input-text' data-text='')

    div.form-group
      label(for='pin-input') Indtast din kode
      div.input-container
        input(type='password' class='form-control' tabindex='3' id='pin-input' data-cy='pin-input' name='pincode' autocomplete='new-pincode')
        button(type='button' id='toggle-pin-input' tabindex="-1" onclick='toggleFieldVisibility("pin-input");' aria-hidden="true")
      span(id='pin-input-text' data-text='')

    if error
      div#error-container
        include Error

    div.action-container
        button(type='submit' id='borchk-submit' data-cy='borchk-submit' tabindex='4') Log ind
        div.other-actions
          if (lockedAgency && lockedBranchRegistrationUrl)
            a(class="modal-trigger" href=lockedBranchRegistrationUrl data-cy='new-user-button' tabindex='5') Ny Bruger?
          else
            a(class="modal-trigger" onclick='toggleModal("userModal")' data-cy='new-user-button' tabindex='5') Ny Bruger?

  script var libraries = !{JSON.stringify(branches)}
