div#borchk
  form(action=identityProviders.borchk.action autocomplete='off' method='post')

    div.form-group

      if lockedAgency
        label(for='libraryid-input') Bibliotek
        input(type="hidden" value=lockedAgency name="libraryId" id="libraryid-input" aria-hidden='true' )
        input(type="text" disabled value=lockedAgencyName class="form-control" id="libraryid-input-disabled" name="libraryName" aria-hidden='false' aria-disabled='true')
      else

        input(type="hidden" name="agency" id="libraryid-input-hidden" aria-hidden='true' value=preselectedId )

        label(for='libraryname-input') Vælg dit lokale bibliotek
        div.input-container
          input(type='text' id='libraryname-input' name='libraryName' placeholder='Vælg bibliotek' required='true' value=preselectedName)
          button(class='prevent-body-close-event caret' type='button' class=preselectedName ? 'hide' : '' id='libraries-dropdown-toggle-btn' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' onclick='toggleDropdown()' aria-hidden='false')
          button(class='prevent-body-close-event close' type='button' class=preselectedName ? '' : 'hide' id='clear-libraries-input-btn' onclick='clearLibraryInput();' aria-hidden='true')

          if branches
            div(id='libraries-dropdown-container' aria-hidden='true')
              ul(id='libraries-dropdown')
                li(class='subject' id='latest') Forslag
                li(class='subject' id='alphabetical') Alfabetisk
                each branch in branches
                  if branch.name
                    li.agency
                      a(data-aid=branch.branchId data-name=branch.name onclick='OnClick(this);') #{branch.name}

        span Lorem ipsum dolor sit amet

    div.form-group
      label(for='userid-input') CPR eller lånernummer
      div.input-container
        input(type="text" value="" class="form-control" id="autocomplete-username" name="autocomplete-username" aria-hidden='true' aria-disabled='false' style="position:absolute; top: -1000px" autocomplete="username")
        input(type='password' class='form-control' id='userid-input' name='userId' required='true' autocomplete="password")
        button(type='button' id='toggle-userid-input' onclick='toggleUserIdVisibility("userid-input", "userid-input-glyph");')
      span Lånernummer  dopalnitelna informacia la la lorem ipsum


    div.form-group
      label(for='pin-input') Indtast din kode
      div.input-container
        input(type='password' class='form-control' id='pin-input' name='pincode' pattern='[0-9]*' required='true' autocomplete="new-pincode")
        button(type='button' id='toggle-pin-input' onclick='toggleUserIdVisibility("pin-input", "pin-input-glyph");')
      span Lånernummer  dopalnitelna informacia la la lorem ipsum

    div.action-container
        button(type='button' id='borchk-submit') Log ind
        div.other-actions
          a(href='') Ny Bruger?
          a(href='') Læs om vores behandling af dine personoplysninger
