div#library-group.form-group
  input(type="hidden" name="agency" id="libraryid-input" aria-hidden='true' value=preselectedId)

  span(class='prevent-body-close-event clear-libraries-on-mobile' onclick='clearLibraryInput();') Ryd
  span(class='close-libraries-on-mobile' onclick='agencyDropdown.close()')

  label(for='libraryname-input') Vælg dit lokale bibliotek
  div.input-container
    input(class="prevent-body-close-event" type='text' id='libraryname-input' name='libraryName' tabindex='1' value=preselectedName)
    button(class='prevent-body-close-event caret' type='button' class=preselectedName ? 'hide' : '' id='libraries-dropdown-toggle-btn' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' onclick='agencyDropdown.open()' aria-hidden='false')
    button(class='prevent-body-close-event close' type='button' class=preselectedName ? '' : 'hide' id='clear-libraries-input-btn' onclick='clearLibraryInput();' aria-hidden='true')

    if branches
      div(id='libraries-dropdown-container' aria-hidden='true')
        ul(id='libraries-dropdown')
          li(class='hide subject' id='latest') Forslag
          li(class='hide subject' id='alphabetical') Alfabetisk
          each branch in branches
            if branch.name
              li(class="agency" data-aid=branch.branchId data-name=branch.name) #{branch.name}

  span(id='libraryname-input-text' data-text='')
