div(id="userModal" class="modal" aria-hidden="true")
  div.modal-header
    button(type="button" tabindex="0" onclick='toggleModal("userModal")')
    h2.modal-title #{newUser.title}
  div(class="modal-body" tabindex="0")
    each section in newUser.sections
      div.modal-body-section
        if(section.header)
          h3 #{section.header}
        each text in section.texts
          p !{text}

    div(id="newUser-dropdown" class="library-group form-group input-container" data-library-types="folk")
      span(class='close-libraries-on-mobile' data-mobile-close)
      label(for='modal-libraryname-input') Vælg dit lokale bibliotek
      div.input-container
        span(class='clear-libraries-on-mobile' data-mobile-clear) Ryd
        input(type='text' data-cy='libraryname-input' id='modal-libraryname-input' tabindex="0" name='libraryName' autocomplete='off' data-input-name value=preselectedName)
        input(type="hidden" name="agency" aria-hidden='true' tabindex="-1" value=preselectedId data-input-id)
        button(class='caret' type='button' tabindex="0" class=preselectedName ? 'hide' : ''  data-toggle aria-hidden='false' data-cy="caret-libraries-btn")
        button(class='close' type='button' tabindex="0" class=preselectedName ? '' : 'hide'  data-clear aria-hidden='true' data-cy="clear-libraries-btn")
        div(id="libraries-dropdown-container" class='libraries-dropdown-container' aria-hidden='true' data-dropdown-container data-cy="dropdown-container" tabindex="0")
      span(data-cy='libraryname-input-text' data-text='')
